* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
}
.appointments-app-container {
  background-color: #ffffff;
  width: 100vw;
  border-radius: 20px;
  padding: 60px;
}
.appointment-heading {
  padding-bottom: 40px;
}
.title {
  font-size: 20px;
  color: #b5b7c4;
}
.title-field {
  color: #171f46;
  font-size: 16px;
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}
.title-field:focus {
  outline: none;
}
.date-label {
  color: #b5b7c4;
  font-size: 20px;
}
.date-field {
  color: #171f46;
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}
.date-field:focus {
  outline: none;
}
.button {
  background-color: #8b5cf6;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
  outline: none;
  border: none;
}
.form-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.image {
  margin-top: -80px;
}
.appointment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.stared-button {
  background-color: transparent;
  color: #8b5cf6;
  font-size: 18px;
  border: 1px solid #9897f0;
  padding: 6px 15px;
  border-radius: 20px;
}
.appointments-list-container {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.apply-bg-color {
  background-color: #9897f0;
}
.apply-empty {
  background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .app-container {
    padding: 30px 60px;
  }
  .image {
    max-width: 400px;
  }
}
@media screen and (max-width: 992px) {
  .title-field {
    max-width: 220px;
  }
  .date-field {
    max-width: 220px;
  }
  .image {
    width: 300px;
    max-width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .image-container {
    display: none;
  }
  .title-field {
    width: 500px;
    max-width: 300px;
  }
  .date-field {
    width: 500px;
    max-width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .appointments-app-container {
    padding: 20px;
  }
  .title-field {
    width: 220px;
  }
  .date-field {
    width: 220px;
  }
  .heading {
    font-size: 20px;
  }
  .appointment-container {
    margin-top: 20px;
  }
}
